body{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #FFFFFF;
}
a, li{
    text-decoration: none;
    display: inline;
    color: #FFFFFF;
}
header{
    background-image: url(img/Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
}
.logo{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 55px 165px;
}
.menu{ 
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    margin-top: 62px;
    margin-right: 113px;
}
li+li{
    padding: 20px;
}
.title{
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.container{
    width: 100%;
    height: 80%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description{
    /* font-weight: 400; */
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 39px;
    width: 486px;
    padding: 10px;
}
.lang{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    margin-top: 50px;
    margin-left: 20px;
}
.photo{
    margin-right: 10px;
}
.login{
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 6px;
    height: 40px;
    padding: 11px 29px 12px;
}
.sing-up{
    /* font-weight: 400; */
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #ED4C5C;
    background: #FFFFFF;
    border-radius: 6px;
    border: none;
    padding: 17px 53px;
    cursor: pointer;
}
button:focus{
    outline: none;
}